body {
    margin-left: 0px;
    margin: 0px auto;
    width: 100%;
}

body_text {
  margin: 0px auto;
  width: 100%;

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1.title {
  text-align:center;
  color: black;

}
h1.left {
  text-align:left;
  margin-left:50px;
}
p {
    width:100%;
    margin-left: 50px;
    font-size: 1.4em;
    line-height: 1em;
    color: #333;
}
.p_big {
  width:100%;
  margin-left: 50px;
  font: 'Helvetica';
  font-size: 1.4em;
  line-height: 1em;

}
.p_small{

  margin-left:50px;
  font: 'Sans-Serif';
  font-size: 1.4em;
  line-height: 1em;

}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.li_left{
    margin-left:50px;
    text-align: left;
    font-size: 1.3em;
    color: black;

}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.right_float {
float: right;
padding: 0 120px 20px 0;
margin-right:50px;
}
/* Container holding the image and the text */
.image_text {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.float_text {
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:black;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.intro-section {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 120px;
    text-align: center;
    background: url("../assets/back.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
    .intro-section h1 {
      color: white; }
    .intro-section p {
      color: white; }
    .intro-section a {
      color: white; }
    .intro-section .my-info {
      background-color: rgba(0, 0, 0, 0.5);
      /*background-size: calc(100% - 400px);*/
     }

.about-section {
    height: 100%;
    width: 100%;
    text-align: left;
    padding-top: 120px;
    padding-bottom: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);}
    .about-section h1 {
      color: black; }
    .about-section p {
      color: black; }
    .about-section a {
      color: blue; }

.services-section {
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  background: #fff; }

.paper {
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  align-items: center; }

.project-solo{
  margin-left:0px;
  width: 100%;
}
.project-solo p{

}
.project-solo h2{
  background-color: green;
}
.project-solo img{
  margin-left: 0px;
  align: left;
  width: 15%;
  height: auto;

}

.project-pair {
padding: 20px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; }
.project-pair .project {
  border-bottom: 3px solid gray;
  background: white;
  padding: 20px;
  /*margin: 20px 0px 20px 0px;*/
  height: 100%; }
  .project-pair .project .project-fig {
    margin: 0 auto;
    width: 70%; }
  .project-pair .project .project-text {
    margin-top: 20px; }

.popover {
max-width: 50%; }
.popover .popover-title, .popover .popover-content {
  font-family: "Times New Roman", Times, serif; }

.profile-fig {
width: 150px; }

.school-fig {
width: 150px; }

.company-fig {
width: 150px; }

.label-success {
background-color: gray; }

.btns {
margin-bottom: 10px; }

h1 {
  font-size :2em;
}
.sub{text-align:center}
.topdiv{
  border-top-style:solid;  border-bottom-style:solid;
  border-color:RoyalBlue;
  font-family:"Courier New", Courier, monospace;
  text-align:center;
}

.right_float {
float: right;
padding: 0 20px 20px 0;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
