<!--INDUSTRY DESCRIPTION -->
 <div class="flex-container">
    <h2>Industry</h2>
     <div class="row">
        <div class="col-sm-2.1 ml-auto">
            <p><img class="img-fluid" src="assets/img/aws_logo.png" alt="" style="height:120px"></p>
            <p class="text-center">Applied Scientist <br/> Summer 2022-Present</p>
        </div>
           <div class="col-sm-2.1 ml-auto">
               <p><img class="img-fluid" src="assets/img/microsoft.svg" alt="" style="height:120px"></p>
               <p class="text-center">Research Intern <br/> Summer 2021</p>
           </div>
           <div class="col-sm-2.1 ml-auto">
               <p><img class="img-fluid" src="assets/img/merl.png" alt="" style="height:120px"></p>
               <p class="text-center">Research Intern <br/> Spring 2020</p>
           </div>
           <div class="col-sm-2.1 ml-auto">
               <p><img class="img-fluid" src="assets/img/google.png" alt="" style="height:120px"></p>
               <p class="text-center">Student Researcher <br/> Summer 2019</p>
           </div>
           <div class="col-sm-2.1 ml-auto">
               <p><img class="img-fluid" src="assets/img/robotmeta.JPG" alt="" style="height:120px"></p>
               <p class="text-center">Research Intern <br/> Summer 2018</p>
           </div>
     </div><!--/.row -->
     <br/>
     <hr>
 </div><!--/.container -->
