<!DOCTYPE html>
        <html>
	              <head>
		                    <title>Xiaolong</title>
		                    <!-- link to main stylesheet -->
		                    <link rel="stylesheet" type="text/css" href="/css/main.css">
                        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	              </head>
                <body>
		                    <nav>
    		                <ul>
                                <li><a href="/" style="margin-left:5em;">Xiaolong Li's Homepage</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="/blog">Blog</a></li>
    		                </ul>
		                    </nav>
                       <!-- <div class=".image_text" width: 100%>
                         <img src="/assets/back.jpg" alt="HTML5 Icon" style="width:100%;height:500px;">
                           <div class="float_text">Xiaolong Li</div>
                       </div> -->
                       <!-- Intro Section -->
                       <section id="intro" class="intro-section">
                         <div class="container">
                           <div class="row">
                             <div class="my-info">
                               <h1>Xiaolong(Jack) Li</h1>
                               <p><br>CESCA Computer Vision Lab<br>Advisor: Prof. A. Lynn Abbott<br>Virginia Tech<br><br>lxiaol9 at vt dot edu</p>
                               <p>
                                 <a href="https://www.linkedin.com/in/xiaolong-li19/">[Linkedin]</a>
                                 <a href="https://github.com/dragonlong">[Github]</a>
                               </p>
                             </div>
                           </div>
                         </div>
                       </section>
                       <section id="about" class="about-section">
                       <div class="row">
                       	<h1  class="title">About</h1>

                           <img src="/assets/Me.png" alt="My photo" style="width:300px;height:400px;" class="right_float">
                       	  <p class="p_big">
                       		I am a second-year Direct Ph.D. student in computer engineering at Virginia Tech. I'm currently working
                       		in the center of <a href="https://www.arc.vt.edu">Advanced Research Computing</a>, advised by <a href="https://ece.vt.edu/people/profile/abbott"> Prof. A. Lynn Abbott</a>.
                           My primary research direction is computer vision and deep learning.</p>
                       		<p class="p_big">
                       		Before that, I worked on biomedical image processing with <a href="https://ece.vt.edu/people/profile/yzhu"> Prof. Yunhui Zhu </a> and
                       		<a href="https://www.sbes.vt.edu/people/bio.php?person=Guohua-Cao"> Prof. Guohua Cao </a>in the <a href="https://www.sbes.vt.edu/cao/">X-Ray Systems Lab</a>.
                       	  </p>
                       		<p class="p_big">
                       		I gained my bachelor degree in Huazhong University of Science and Technology, leading the team on algorithms development and system
                       	  integration for drone control, and 3D Reconstruction at the Mechanical Innovational Base(MIB) of <a href="http://qiming.hust.edu.cn/">Qiming College</a>.</p>
                          <p>
                            <h2 class="left">Education</h2>
                            <div class="col-sm-4">
                              <img src="assets/VT.png" class="school-fig" style="margin-left:200px;">
                              <p style="margin-left:200px;">
                                2016 - Present
                              </p>
                            </div>
                          </p>
                          <p>
                            <div class="col-sm-4">
                              <img src="assets/Hustseals.png" class="school-fig" style="padding-top:30px;margin-left:100px;">
                              <p style="margin-left:120px;">
                                2012 - 2016
                              </p>
                            </div>
                          </p>
                       </div>

                       <div class="row">
                       <h2 class="left">News</h2>
                       	<p>
                       		<li class="li_left">[05/18] Visit <a href="https://www.nmr.mgh.harvard.edu/">Harvard Martinos Center for Biomedical Imaging</a> </li>
                       	</p>
                       	<p>
                       		<li class="li_left">[05/11] I have passed my Qualifying Exam!</a> </li>
                       	</p>
                       	<p>
                       		<li class="li_left">[05/02] Lab partners, <a href="https://www.linkedin.com/in/sujayryadawadkar/">Sujay</a>
                       		and <a href="https://www.linkedin.com/in/vikramchandrashekar/">Vikram</a> gained M.S., join NVIDIA as soft engineers, congratulations!!</a> </li>
                       	</p>
                       	<p>
                       		<li class="li_left">[04/04] Ranked 3rd in <a href="http://biomedicalimaging.org/2018/"> ISBI 2018</a> Auto DR Grading Challenge, Washion D.C.</li>
                       	</p>
                       	<p>
                       		<li class="li_left">[03/06] Second Best poster in <a href="https://www.mics.ece.vt.edu/MICSDay/index.html"> MICS/CESCA  Day</a> </li>
                       	</p>
                       	<p>
                       		<li class="li_left">[02/15] Become GRA in <a href="https://www.arc.vt.edu/"> ARC</a> for HPC maintenance and software building </li>
                       	</p>
                       </div>
                       </section>


                       <div class="container">
                          		{{ content }}
                       </div><!-- /.container -->
               </body>
		            <footer>
    		        <ul>
        		                    <li><a href="mailto:lxiaol9@vt.edu">email</a></li>
        		    
			          </ul>
		            </footer>


       </html>
